{% extends 'base.html' %}
{% load static %}

{% block title %}{{ course.name }} | Mixing Masters Workshops{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-4 text-center">{{ course.name }}</h1>
                <div class="card mb-4">
                    <p class="detail_img">{% if course.image %}<img src="{{ course.image.url }}" alt="{{ course.name }}"
                            class="img-fluid rounded shadow-sm">{% endif %}</p>
                    <div class="card-body">
                        <h2 class="lead">{{ course.description }}</h2>
                        <p class="mt-4">Max places: {{course.max_participants}} people <span
                                class="badge text-bg-danger">{{ spots_left }} spot{{ spots_left|pluralize }}
                                remaining.</span></p>
                        <p class="mt-4">Handy to have: {{course.supplies.all|join:", "}}</p>
                        <p class="mt-4">Start date: {{course.start_date}}</p>
                        <p class="mt-4">Location: {{course.location}}</p>
                        <p class="mt-4">Price: €{{ course.price }}</p>
                        {% if user.is_authenticated %}
                        {% if has_purchased %}
                        <a href="{% url 'courses:my_courses' %}" class="btn btn-primary btn-lg mt-4">View Purchased
                            Workshops</a>
                        {% elif is_full %}
                        <button class="btn btn-secondary btn-lg mt-4" disabled>Workshop Sold Out</button>
                        {% else %}
                        <a href="{% url 'courses:create_checkout_session' course.pk %}"
                            class="btn btn-primary btn-lg mt-4">Book Now</a>
                        {% endif %}
                        {% else %}
                        {% if is_full %}
                        <button class="btn btn-secondary btn-lg mt-4" disabled>Workshop Sold Out</button>
                        {% else %}
                        <a href="{% url 'account_login' %}" class="btn btn-outline-primary btn-lg mt-4">Log in to Book</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}