{% extends "base.html" %}
{% block content %}

<h1>Courses list</h1>
{% if user.is_superuser %}
<a class="btn btn-success" href="{% url 'courses:create_course' %}">Create Courses</a>
{% endif %}
{% for course in courses %}
<h2>{{course.name}}</h2>
{% if user.is_superuser %}
<a class="btn btn-success" href="{% url 'courses:update_course' course.pk %}">Update Course</a>
{% endif %}
<p>{{course.description}}</p>
<p class="course-pic">{% if course.image %}<img src="{{ course.image.url }}" alt="{{ course.title }}"
        class="card-img-top img-fluid rounded">{% endif %}</p>
<p>Price: € {{course.price}}</p>
<p>Max places: {{course.max_participants}} people</p>
<p>Handy to bring: {{course.supplies.all|join:", "}}</p>
<p>Start date: {{course.start_date}}</p>
<p>Location: {{course.location}}</p>
{% if user.is_superuser %}
<a class="btn btn-danger" href="{% url 'courses:delete_course' course.pk %}">Delete Course</a>
{% endif %}
{% endfor %}


{% endblock content %}