{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Create new course</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h5>Add new level</h5>
    <input type="text" name="new_level_name" class="form-control mb-2" placeholder="Level name">
    <button type="submit" name="add_level" class="btn btn-secondary">
        + Add Level
    </button>
    {{ form|crispy }}
    {% if request.user.is_superuser %}
    <hr>
    <h5>Add New Supply</h5>
    <input type="text" name="new_supply_name" class="form-control mb-2" placeholder="Supply name">
    <button type="submit" name="add_supply" class="btn btn-secondary">
        + Add Supply
    </button>
    <hr>
    {% endif %}

    <button type="submit" name="create_course" class="btn btn-primary">
        Create Course
    </button>

</form>

{% endblock %}