{% extends 'base.html' %}

{% block title %}Delete {{ supply.name }} | Mixing Masters Workshops{% endblock %}

{% block content %}
<div class="container mt-5 card delete-card">
    <h1 class="text-center mb-4">Delete {{ supply.name }}</h1>
    <p class="text-center">Are you sure you want to delete this supply item?</p>
        <form method="post" class="delete-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Yes, delete</button>
            <a href="{% url 'courses:admin_dashboard' %}" class="btn btn-secondary">Cancel</a>
        </form>
</div>
{% endblock %}